.recolecciones {
  .filters {
    display: flex;
    align-items: center;

    .filter {
      display: flex;
      align-items: center;
      height: 40px;
      border-radius: 6px;
      padding: 0 10px;
      border: 1px solid #c9000059;
      box-sizing: border-box;

      overflow: hidden;
      input {
        padding: 0;
        border: none;
        height: 39px;
        width: 130px;
      }
    }
  }

  .select-ganadero {
    width: 167px;
    font-size: 12px;
    margin-right: 10px;
  }

  .select-fecha {
    width: 167px;
    font-size: 12px;
    margin-right: 10px;
  }

  .no-data {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 40px;
  }

    .column-gps {
      display: flex;
      align-items: center;
      gap: 4px;
  
      &-invalido {
        color: red;
      }
  
      &-valido {
        color: green;
      }
    }
  .column-litros {
    display: flex;
    align-items: center;
    gap: 4px;

    .icon {
      cursor: pointer;
      margin-top: 4px;
    }
    .item-edit {
      height: 20px;
      width: 60px;
      text-align: center;
    }
  }
}
