.analisis {
  .select-fecha {
    display: flex;
    align-items: center;
    gap: 10px;

    &-label {
      font-size: 14px;
    }

    .date-picker {
      cursor: pointer;
      width: 120px;
    }

    svg {
      display: none;
    }
  }

  .analisis_option {
    cursor: pointer;
  }

  .no-data {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 40px;
  }

  .options-header {
    display: flex;
    gap: 10px;
    align-items: center;

    input {
      border-radius: 30px;
    }
  }

  .ruta_select {
    font-size: 14px;
    color: #c90000;
    font-weight: bold;
  }

  .comp_main {
    margin-top: 20px;
    display: flex;
    gap: 30px;
    padding: 20px;

    .compartimientos {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .comp {
        cursor: pointer;
        padding: 5px 10px;
        border-radius: 5px;
        width: 134px;
        display: flex;
        gap: 10px;
        align-items: center;
        display: flex;
        justify-content: center;
      }

      .comp.select {
        background-color: #c90000;
        color: #ffffff;
      }

      .comp:hover {
        background-color: #c90000;
        color: #ffffff;
        padding: 5px 10px;
      }
    }
  }

  .row_select {
    background-color: #33f43345;
  }
  .row_select:hover {
    background-color: #33f43345;
  }

  .labels {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .form_analisis {
    margin-top: 40px;

    .inputs_fields {
      display: flex;
      flex-flow: wrap;
      gap: 40px;
    }

    .form_main {
      display: flex;
      flex-direction: column;
      gap: 40px;
    }

    .input_field {
      display: flex;
      flex-direction: column;
      width: 150px;

      input {
        text-align: right;
      }

      .input_textarea {
        height: 100px;
        resize: "none";
      }

      label {
        text-transform: capitalize;
        font-size: 13px;
        font-weight: bold;
      }
    }

    .observ {
      width: 340px;
    }

    .button_content {
      display: flex;
    }

    .input_field_radio {
      display: flex;
      flex-direction: column;
      width: 150px;

      label {
        text-transform: capitalize;
        font-size: 13px;
        font-weight: bold;
      }

      .options_radio {
        display: flex;
        gap: 10px;
        label {
          font-weight: normal;
        }
      }

      .input_radio {
        display: flex;
        align-items: center;
        gap: 5px;

        input {
          cursor: pointer;
        }
      }
    }
  }
  .status_analisis {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .pill_status {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 5px 10px;
    border-radius: 30px;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    text-transform: capitalize;
    width: 100px;
    justify-content: center;
  }
  .pill_status.pendiente {
    background-color: #d66000;
  }
  .pill_status.aceptado {
    background-color: #00a000;
  }
  .pill_status.rechazado {
    background-color: #c90000;
  }

  .plus {
    gap: 7px;
    width: fit-content;
    max-width: fit-content;
  }
  .date-add {
    display: flex;
    gap: 10px;
  }
  .add_label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;

    input,
    select {
      width: 50%;
    }

    select {
      text-transform: capitalize;
    }
  }
}
