.rutas {
  .add {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    width: fit-content;
  }

  .tabla {
    td:first-child {
      width: 20px;
    }
  }

  .formulario {
    display: flex;
    flex-direction: column;
    gap: 15px;
    &-item {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      label {
        width: 110px;
        min-width: 110px;
      }
      input,
      select {
        background-color: rgb(248, 250, 252);
        text-transform: capitalize;
      }
    }

    .button-form {
      margin-top: 10px;
      display: flex;
      justify-content: center;

      .button {
        display: flex;
        align-items: center;
        gap: 5px;
      }
    }

    .inputs-main {
      width: 300px;

      .error {
        color: red;
        font-size: 12px;
        font-weight: bold;
      }
      .input-error {
        border: 2px solid red;
      }
    }

    .inputs {
      width: 300px;
    }
  }

  .tabla-g {
    max-height: 30em;
    overflow: scroll;
    overflow-x: hidden;

    thead {
      background-color: #f2f2f2;
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      z-index: 1;
    }
  }
}
.up-down {
  display: flex;
  gap: 5px;
  justify-content: center;
}

.icon-loading {
  width: 20px;
}
